.contain{
    display:flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
     
    }
  }
  
  .fadeIn {
    position: relative;
    animation: fadeIn 0.8s ease-in-out forwards;
    background-color: aliceblue;
    z-index: 2;
    width: 60%;
  }
.slidercontain,
.display{
    display: flex;
}
.slidercontain{
  gap: 2em;
}
@keyframes slideIn {
  from {
    transform: translateX(0);
    
  }
  to {
    transform: translateX(-100%);
   
  }
}

.slider {
  animation: slideIn 0.8s ease-in-out forwards;
}


.buttons{
  display: flex;
  width: fit-content;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
}